server {
    listen 80;
    return 301 https://$host$request_uri;
}

server {
	listen 443;

	ssl on;
	root				/var/www/html/wordpress;
	index index.php index.html index.htm index.nginx-debian.html;

	server_name _;

	access_log			/var/log/nginx/wordpress_access.log;
	error_log			/var/log/nginx/wordpress_error.log;

	ssl_certificate		/etc/nginx/ssl/server.csr
	ssl_certificate_key	/etc/nginx/ssl/server.key

	client_max_body_size 64M;

	location / {
		autoindex {{ var "AUTOINDEX" | default "on" }};
		try_files $uri $uri/ /index.php?$args;
	}

	location ~ \.php$ {
		try_files $uri =404;
		include /etc/nginx/fastcgi_params;
		fastcgi_read_timeout 3600s;
		fastcgi_buffer_size 128k;
		fastcgi_buffers 4 128k;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_pass unix:/run/php/php7.3-fpm.sock;
		fastcgi_index index.php;
	}
}
